body {
  background-color: bisque;
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: blue;
}
span {
  color: rgb(195, 43, 201);
  font-size: 22;
  font-weight: 800;
}
div > p:last-of-type {
  color: rgb(235, 12, 123);
}
.test8 {
  color: rgb(11, 83, 59);
}
#test7 {
  background-color: black;
  display: inline-block;
  color: white;
}
div > p:nth-child(2) {
  color: brown;
}

div > p:nth-child(3) {
  color: rgb(26, 177, 223) !important;
}
div {
  background-color: rgb(202, 228, 228); /* weight = 1*/
}
p:nth-child(4) {
  background-color: rgb(181, 241, 132);
  color: rgb(246, 248, 248);
}
p:nth-child(4) + p {
  background-color: rgb(151, 209, 177);
  color: rgb(246, 248, 248);
  display: inline-block;
}
div > p:nth-child(5) + p {
  background-color: rgb(170, 190, 201);
  color: rgb(246, 248, 248);
}
