/* nav list */
.ul_nav {
  text-decoration: none;
  display: flex;
  gap: 30px;
  list-style: none;
  /* position: fixed; */
}
.nav_list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: rgb(42, 20, 139);
}

.Container {
  width: 80%;
  margin: auto;
  text-align: center;
}

body {
  background-color: rgb(117, 128, 148);
}
span {
  background-color: rgb(106, 90, 122);
}
.form_sub {
  display: flex;
  flex-direction: column;
}
.submit {
  width: 80px;
  /*  Why my button doesn't want to place to center??? */
}
.ul_anchors {
  display: flex;
  justify-content: left;
  flex-direction: column; /* <== why if I comment this line my list 
  is on the left, if I leave it, my content is in the middle?
  */
  font-size: 20px;
}

/* .radio {
  width: 100px;
  text-align: center;
  } */
/* Why can't I set it with paramitrized width in the middle? */

.photos {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.image_size {
  width: 400px;
  min-height: 300px; /* why last picture doesn't take the size? */
}
