body {
  font-family: 'Dm Sans', 'Mulish', sans-serif;
  color: #19191b;
  font-size: 15px;
  background-color: #fff;
  overflow-x: hidden;
}
a {
  text-decoration: 0;
}
ul {
  list-style: none;
  padding: 0;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

header .container {
  display: flex;
}

.navigation__list {
  display: flex;
}

.navigation__item {
  font-weight: 700;
  font-size: 15px;
  display: block;
  color: #696871;
  position: relative;
}
.navigation__item::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 2px;
}
.navigation__item:hover {
  color: #19191b;
}
.navigation__item:hover::after {
  width: 100%;
  background-color: #5454d4;
}

.header__btn {
  color: #fff;
  background-color: #ff7143;
  padding: 20px 60px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
}
/* -------------------------------hero section------------------------ */
.hero {
  padding-top: 100px;
}
.hero .container {
  display: flex;
}

.hero__title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -2.5px;
  margin-bottom: 30px;
  color: #19191b;
}
.hero__description {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
  color: #696871;
  letter-spacing: -0.63px;
}
.btn__wrap {
  display: flex;
}
.hero__btn {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.53px;
  text-align: center;
  color: #fff;
  padding: 20px 60px;
  background-color: #5454d4;
  border-radius: 16px;
  margin-right: 40px;
}
.hero__btn__arrow {
  border: none;
  background: transparent;
}

/*----------------------- navigation_wrap section ------------------------------*/
.navigation_wrap {
  padding-top: 100px;
}

.navigation__wrap__items {
  display: flex;
}

/* ------------------------describtion section ----------------------------------------*/
.description {
  padding-top: 160px;
}
.description .container {
  display: flex;
}

.description__title {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -1.56px;
  color: #19191b;
  margin-bottom: 30px;
}
.description__item {
  font-family: 'Mulish';
  font-size: 20px;
  letter-spacing: -0.63px;
  color: #696871;
  margin-bottom: 30px;
}

.description__link {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.53px;
  color: #5454d4;
}

/* ------------------------------------Scale section -----------------------------------------*/
.scale {
  padding-top: 84px;
}
.scale .container {
  display: flex;
}

.scale__title {
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -1.56px;
  color: #19191b;
  margin-bottom: 30px;
}
.scale__item {
  font-family: 'Mulish';
  font-size: 20px;
  letter-spacing: -0.63px;
  color: #696871;
  margin-bottom: 30px;
}
.scale__link {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.53px;
  color: #5454d4;
}

/* ------------calculation section ------------------*/
.calculation {
  padding-top: 138px;
}
.calculation__container {
  display: flex;
  justify-content: space-between;
}
.calculation__wrap {
  display: flex;
}
.calculation__img {
  margin-bottom: 20px;
}
.calculation__title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.75px;
  margin-bottom: 20px;
}

.calculation__item {
  font-family: 'Mulish';
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #696871;
}

/* ---------- plan section --------------*/
.plan {
  padding-top: 150px;
  padding-bottom: 158px;
}
.plan .container {
  display: flex;
  flex-direction: column;
}

.plan_duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan__duration__title {
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -1.88px;
  color: #19191b;
}
.plan_btn_wrap {
  display: flex;
}
.plan__duration__btn {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 18px 0;
  border: none;
  border-radius: 0 16px 16px 0;
  background-color: #f7f7fb;
}
.blue {
  background-color: #5454d4;
  color: #fff;
  border-radius: 16px 0 0 16px;
}
.plan__price {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.plan__price__item {
  padding: 34px 24px;
  background-color: #f8f8f8;
  border-radius: 16px;
  text-align: center;
}
.plan__price__type {
  font-size: 18px;
  letter-spacing: -0.56px;
  margin-bottom: 22px;
  color: #696871;
}
.plan_price__title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -1.03px;
  margin-bottom: 54px;
  color: #1d293f;
}
.plan__price__description {
  font-family: 'Mulish';
  font-size: 17px;
  letter-spacing: -0.53px;
  margin-bottom: 54px;
  color: #696871;
}

.plan__price__btn {
  /* width: 286px; */
  height: 60px;
  border: none;
  border-radius: 16px;
  background-color: #fff;
  color: #5454d4;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.53px;
}

.plan__price__item:hover {
  background-color: #ff7143;
  transform: scale(1.1);
}
.plan__price__item:hover .plan__price__type,
.plan__price__item:hover .plan_price__title,
.plan__price__item:hover .plan__price__description,
.plan__price__item:hover .plan__price__btn {
  color: #fff;
}
.plan__price__item:hover .plan__price__btn {
  background-color: #9f3919;
}

@media (min-width: 320px) {
  .container {
    width: 320px;
    /* width: 100%; */
    padding: 0 20px;
  }
  .header .container,
  .navigation__list,
  .hero .container {
    flex-wrap: wrap;
  }
  .navigation__list {
    margin-bottom: 30px;
    gap: 32px;
    width: 200px;
    justify-content: space-evenly;
  }
  .navigation__item {
    padding: 22px 0;
  }
  /* ----------hero section----------------- */
  .hero__first_element {
    width: 300px;
  }
  .hero__title {
    font-size: 40px;
  }
  .btn__wrap {
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .hero__btn {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .hero__img__man {
    width: 300px;
    height: 300px;
  }
  /* ---------------- Navigation section ------------ */
  .navigation__wrap__items {
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  /* ------------------------description section-------------------------------- */
  .descr_img {
    width: 280px;
    height: 300px;
    margin-bottom: 40px;
  }
  .description .container {
    flex-wrap: wrap;
  }
  .description__title {
    font-size: 30px;
  }
  .description__item {
    width: 280px;
  }
  /* Scale section */
  .scale .container {
    flex-wrap: wrap;
    align-items: center;
  }
  .scale__title {
    font-size: 30px;
  }
  /* .scale__item {
    width: 280px;
    height: 300px;
  } */
  .scale_container {
    margin-bottom: 40px;
  }
  .scale_img {
    width: 280px;
    height: 300px;
  }
  /*-------------------- calculation section -----------------------------------*/
  .calculation__container {
    flex-direction: column;
    gap: 20px;
  }
  .calculation__wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .calculation__item {
    width: 60%;
  }
  /*--------------- plan Duration section ---------------------------*/
  .plan_duration {
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 30px; */
    margin-bottom: 120px;
  }
  .plan__duration__title {
    font-size: 30px;
    width: 280px;
    margin-bottom: 30px;
  }
  /* .plan_btn_wrap {
    margin-bottom: ;
  } */
  .plan__duration__btn {
    width: 100px;
  }
  .plan__price {
    margin: 0 auto;
    flex-direction: column;
    gap: 40px;
    width: 240px;
  }
  .plan__price__btn {
    width: 160px;
  }
}
/* --------------------------------------------------------768 --------------------------------------------- */
@media (min-width: 768px) {
  .container {
    width: 768px;
    /* padding: 0 20px; */
  }
  .header .container {
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    gap: 40px;
  }
  .navigation__list {
    width: 100%;
  }
  .navigation__list {
    margin: 0;
  }
  .navigation__item {
    padding: 24px 0;
  }
  .header__btn {
    padding: 10px 20px;
  }

  /*-------------------------- hero container --------------------------------------*/
  .hero__title {
    font-size: 40px;
  }
  .hero__first_element {
    width: 400px;
  }
  .hero .container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .btn__wrap {
    /* flex-direction: row; */
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
  .hero__btn {
    margin: 0;
    flex-wrap: nowrap;
  }
  .hero__img__man {
    width: 300px;
    height: 400px;
  }
  /*---------------------- navigation section---------------------------- */
  .navigation_wrap {
    padding-top: 50px;
  }
  .navigation__wrap__items {
    flex-direction: row;
    gap: 25px;
  }
  /* -----------------------Description section ------------------------*/
  .descr_img {
    width: 300px;
    margin-bottom: 40px;
  }
  .description .container {
    justify-content: space-between;
  }
  .description__title {
    font-size: 30px;
  }
  .description__item {
    width: 280px;
  }
  /* ------------------Scale section----------------------------------- */
  .scale {
    padding-top: 52px;
  }
  .scale .container {
    justify-content: space-between;
    margin: 0 auto;
  }
  .scale__title {
    font-size: 30px;
  }
  .scale__item {
    width: 280px;
  }
  .scale_container {
    margin-bottom: 40px;
  }
  .scale_img {
    width: 300px;
  }
  /* -------------------------- Calculation section ------------------------- */
  .calculation {
    padding-top: 52px;
  }
  .calculation__wrap {
    width: 220px;
    text-align: center;
    gap: 20px;
  }
  .calculation__container {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    /* align-content: center; */
  }

  /* -------------duration section -------------------------- */
  .plan {
    padding-top: 120px;
  }
  .plan_duration {
    justify-content: space-between;
  }
  .plan__price {
    flex-direction: row;
    gap: 20px;
  }
  .plan__duration__title {
    font-size: 30px;
    width: 280px;
    margin: 0;
  }
  .plan__duration__btn {
    width: 100px;
  }
  .plan__price__item {
    width: 220px;
  }
  .plan__price__btn {
    width: 150px;
  }
}

/* --------------------------------------------Desctop--------------------------- */
/* ------------header ------------------ */
@media (min-width: 1146px) {
  .container {
    width: 1146px;
  }

  .header .container {
    width: 1070px;
    margin-left: calc((100% - 1146px) / 2);
    justify-content: space-between;
    align-items: center;
  }

  .navigation__list {
    gap: 50px;
  }

  .navigation__item {
    padding: 44px 0;
  }
  .header__btn {
    padding: 20px 60px;
  }
  /* -------------------------------hero section------------------------ */
  .hero {
    padding-top: 100px;
  }
  .hero .container {
    justify-content: space-between;
    align-items: center;
  }

  .hero__first_element {
    width: 462px;
  }
  .hero__img__man {
    width: 580px;
    height: 644px;
  }
  .btn__wrap {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
  }

  /*----------------------- navigation_wrap section ------------------------------*/

  .navigation_wrap {
    padding-top: 100px;
  }

  .navigation__wrap__items {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* ------------------------description section-------------------------------- */
  .description {
    padding-top: 160px;
  }
  .description .container {
    align-items: center;
    justify-content: space-between;
  }
  .descr_img {
    width: 348px;
    height: 474px;
  }

  .description__item__wrap {
    width: 556px;
  }

  .description__title {
    font-size: 50px;
  }
  .description__item {
    font-size: 20px;
    width: 460px;
    margin-bottom: 30px;
  }
  /*---------------- Scale section--------------------------------------------- */
  .scale {
    padding-top: 84px;
  }
  .scale .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .scale_img {
    width: 346px;
    height: 474px;
  }

  .scale__title {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .scale__item {
    font-family: 'Mulish';
    font-size: 20px;
    letter-spacing: -0.63px;
    color: #696871;
    margin-bottom: 30px;
    width: 460px;
  }
  .scale__link {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.53px;
    color: #5454d4;
  }

  /* -------------------Calculation section --------------------*/
  .calculation {
    padding-top: 138px;
  }
  .calculation__container {
    gap: 74px;
  }
  .calculation__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 308px;
  }
  .calculation__img {
    margin-bottom: 20px;
  }
  .calculation__title {
    font-size: 24px;
  }

  .calculation__item {
    font-size: 16px;
    width: 308px;
  }
  /* ------------------------------- Plan section--------------------------- */
  .plan {
    padding-top: 150px;
    padding-bottom: 158px;
  }
  .plan__price {
    width: auto;
  }
  .plan .container {
    gap: 98px;
  }

  .plan_duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 98px;
  }

  .plan__duration__title {
    width: 524px;
    font-size: 60px;
  }
  .plan_btn_wrap {
    display: flex;
  }
  .plan__duration__btn {
    font-size: 16px;
    text-align: center;
    padding: 18px 0;
    width: 176px;
  }
  .blue {
    border-radius: 16px 0 0 16px;
  }
  .plan__price {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .plan__price__item {
    width: 330px;
    padding: 34px 24px;
    border-radius: 16px;
    text-align: center;
  }
  .plan__price__type {
    font-size: 18px;
    margin-bottom: 22px;
  }
  .plan_price__title {
    font-size: 28px;
    margin-bottom: 54px;
  }
  .plan__price__description {
    font-size: 17px;
    margin-bottom: 54px;
    color: #696871;
  }

  .plan__price__btn {
    width: 286px;
    height: 60px;
    font-size: 17px;
  }
}
