body {
  background-color: rgb(153, 177, 185);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
  padding-left: 120px;
}
p {
  background-color: lightcoral;
}
span {
  background-color: bisque;
  font-weight: 800;
}
.description {
  font-size: 25px;
  background-color: cyan;
}
.parametrized_div {
  width: 200px;
}

.left {
  float: left;
  background-color: bisque;
  width: 200px;
  height: 200px;
}
.right {
  float: right;
  background-color: bisque;
  width: 200px;
  height: 200px;
}
.clear {
  clear: both;
}
.overflow_div {
  border: 12px solid rgb(6, 50, 121);
  border-radius: 12px;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.second {
  overflow: scroll;
}
.third {
  overflow: auto;
}
img {
  display: inline-block;
}
.nav_ul {
  position: fixed;
}

.section2 > p {
  background-color: bisque;
}
.list {
  list-style: none;
  position: relative;
}
.li_item {
  position: absolute;
  border: solid 2px black;
  padding: 80px;
}
.li_item:hover {
  z-index: 100;
}
.item1 {
  top: 20px;
  left: 400px;
  background-color: brown;
}
.item2 {
  top: 40px;
  left: 350px;
  background-color: blanchedalmond;
}
.item3 {
  top: 80px;
  left: 450px;
  background-color: rgb(206, 37, 121);
}
.item4 {
  top: 70px;
  left: 400px;
  background-color: rgb(209, 137, 28);
}
.sticky {
  position: sticky;
  top: 0;
}

/* Updated */
.inline {
  display: inline;
  background-color: blueviolet;
  height: 400px; /* Doesn't work because of the inline property */
}

.inline_block {
  display: inline-block;
  background-color: blue;
  height: 100px;
}
